fastapi==0.128.2
langchain==1.2.8
langgraph-checkpoint-postgres==3.0.4
langchain-mcp-adapters==0.2.1
langchain-openai==1.1.7
langmem==0.0.30
nats-py[nkeys]==2.13.0
psycopg==3.3.2
pydantic==2.12.5
pymongo==4.16.0
pytest==9.0.2
python-ulid==3.1.0
trustcall==0.0.39
uvicorn==0.40.0
